In [1]:
import pandas as pd

In [2]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
             'Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

index = range(101,108)

In [3]:
df = pd.DataFrame(data, index=index)

In [4]:
df.head()

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0

In [5]:
df.tail()

      name        city  age  py-score
103   Jana      Prague   33      81.0
104     Yi    Shanghai   34      80.0
105  Robin  Manchester   38      68.0
106   Amal       Cairo   31      61.0
107   Nori       Osaka   37      84.0

In [6]:
df.index

RangeIndex(start=101, stop=108, step=1)

In [7]:
df.columns

Index(['name', 'city', 'age', 'py-score'], dtype='object')

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(df.columns)

pandas.core.indexes.base.Index

In [10]:
df.value_counts()

name    city         age  py-score
Yi      Shanghai     34   80.0        1
Xavier  Mexico City  41   88.0        1
Robin   Manchester   38   68.0        1
Nori    Osaka        37   84.0        1
Jana    Prague       33   81.0        1
Ann     Toronto      28   79.0        1
Amal    Cairo        31   61.0        1
dtype: int64

In [11]:
cities = df['city']

In [12]:
cities.index

RangeIndex(start=101, stop=108, step=1)

In [13]:
df.city

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object

In [14]:
df.columns

Index(['name', 'city', 'age', 'py-score'], dtype='object')

In [15]:
df['py-score']

101    88.0
102    79.0
103    81.0
104    80.0
105    68.0
106    61.0
107    84.0
Name: py-score, dtype: float64

In [16]:
df.loc[101]

name             Xavier
city        Mexico City
age                  41
py-score             88
Name: 101, dtype: object

In [17]:
type(df.loc[101])

pandas.core.series.Series

## Key difference between pandas dataframes and pandas series

In [18]:
df.loc[101]

name             Xavier
city        Mexico City
age                  41
py-score             88
Name: 101, dtype: object

In [19]:
type(df.loc[101])

pandas.core.series.Series

In [20]:
cities.loc[101]

'Mexico City'

In [21]:
type(cities.loc[101])

str

## Explore properties of a pandas DataFrame

If constructing a data frame with a numpy array and you don't want the source numpy array to change with changes in the dataframe specify copy = True

In [22]:
pd.DataFrame(data, index=index, copy = True)

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

In [23]:
import numpy as np

In [24]:
d = {'x':[1,2,3], 'y':np.array([2, 4, 8]), 'z':100}

In [25]:
pd.DataFrame(d, index=[100, 200, 300], columns=['z', 'y', 'x'])

       z  y  x
100  100  2  1
200  100  4  2
300  100  8  3

In [26]:
lst = [{'x':1, 'y':2, 'z':100},
      {'x':2, 'y':2, 'z':100},
      {'x':3, 'y':8, 'z':100}]

In [27]:
num=len(lst)

In [28]:
pd.DataFrame(lst, index = range(10,10+num))

    x  y    z
10  1  2  100
11  2  2  100
12  3  8  100

In [29]:
pd.DataFrame(lst, index = ['soup','pasta','bread'])

       x  y    z
soup   1  2  100
pasta  2  2  100
bread  3  8  100

In [30]:
pd.DataFrame(lst, index = ['soup','pasta','bread']).reset_index()

   index  x  y    z
0   soup  1  2  100
1  pasta  2  2  100
2  bread  3  8  100

## From a nested list

In [31]:
lst2 = [[1, 3, 23],
       [2,4, 50],
       [3, 8, 98]]

In [32]:
pd.DataFrame(lst2, columns = ['Quantity', 'Code', 'Price'], index = range(10, 10 + len(lst2)))

    Quantity  Code  Price
10         1     3     23
11         2     4     50
12         3     8     98

## From a numpy array

In [33]:
arr = np.array([[1, 3, 23],
       [2, 4, 50],
       [3, 8, 98]])

In [34]:
df_ = pd.DataFrame(arr)

In [35]:
df_

   0  1   2
0  1  3  23
1  2  4  50
2  3  8  98

In [36]:
print(arr)

[[ 1  3 23]
 [ 2  4 50]
 [ 3  8 98]]

Note that the dataframe is using the same storage location as the numpy array

In [37]:
arr[1,1] = 17

In [38]:
df_

   0   1   2
0  1   3  23
1  2  17  50
2  3   8  98

If we don't want this behaviour we can specify this when defining the dataframe

In [39]:
df2_ = pd.DataFrame(arr, copy=True)

In [40]:
df2_

   0   1   2
0  1   3  23
1  2  17  50
2  3   8  98

Now when we change the numpy array the dataframe is not changed

In [41]:
arr[1,1] = 100

In [42]:
df2_

   0   1   2
0  1   3  23
1  2  17  50
2  3   8  98

But the previous dataframe has

In [43]:
df_

   0    1   2
0  1    3  23
1  2  100  50
2  3    8  98

## Create a csv file from a data frame

In [44]:
df.to_csv("job_candidates.csv")

## Create a data frame from a csv file

In [45]:
pd.read_csv("job_candidates.csv")

   Unnamed: 0    name         city  age  py-score
0         101  Xavier  Mexico City   41      88.0
1         102     Ann      Toronto   28      79.0
2         103    Jana       Prague   33      81.0
3         104      Yi     Shanghai   34      80.0
4         105   Robin   Manchester   38      68.0
5         106    Amal        Cairo   31      61.0
6         107    Nori        Osaka   37      84.0

Use the first column as the index

In [46]:
pd.read_csv("job_candidates.csv", index_col=0)

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

## Data Frame Attributes

### Look at the index

In [47]:
df.index

RangeIndex(start=101, stop=108, step=1)

In [48]:
df.index[0]

101

In [49]:
df.index[2]

103

In [50]:
df.columns

Index(['name', 'city', 'age', 'py-score'], dtype='object')

In [51]:
df.columns[1]

'city'

Index objects in pandas immutable

In [52]:
try:
    df.index[1] = 99
except:
    print("Error generated!  Pandas index objects are immutable")

Error generated!  Pandas index objects are immutable

But you can change the entire index like this

In [53]:
df.index = np.arange(10, 17)

In [54]:
df.index

Int64Index([10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [55]:
df

      name         city  age  py-score
10  Xavier  Mexico City   41      88.0
11     Ann      Toronto   28      79.0
12    Jana       Prague   33      81.0
13      Yi     Shanghai   34      80.0
14   Robin   Manchester   38      68.0
15    Amal        Cairo   31      61.0
16    Nori        Osaka   37      84.0

### Access the values of the dataframe

In [56]:
df.values

array([['Xavier', 'Mexico City', 41, 88.0],
       ['Ann', 'Toronto', 28, 79.0],
       ['Jana', 'Prague', 33, 81.0],
       ['Yi', 'Shanghai', 34, 80.0],
       ['Robin', 'Manchester', 38, 68.0],
       ['Amal', 'Cairo', 31, 61.0],
       ['Nori', 'Osaka', 37, 84.0]], dtype=object)

The to_numpy() method is recommended because it offers additional keyword arguments and if you want to use the data from the dataframe by passing a True or False value to the copy argument and also specify dtypes.

In [57]:
df.to_numpy()

array([['Xavier', 'Mexico City', 41, 88.0],
       ['Ann', 'Toronto', 28, 79.0],
       ['Jana', 'Prague', 33, 81.0],
       ['Yi', 'Shanghai', 34, 80.0],
       ['Robin', 'Manchester', 38, 68.0],
       ['Amal', 'Cairo', 31, 61.0],
       ['Nori', 'Osaka', 37, 84.0]], dtype=object)

In [58]:
df.dtypes

name         object
city         object
age           int64
py-score    float64
dtype: object

### Change dtype

Data types might be changed to save some space

In [59]:
df_ = df.astype(dtype = {'age':np.int32, 'py-score':np.float32})

In [60]:
df_.dtypes

name         object
city         object
age           int32
py-score    float32
dtype: object

### Size of dataframe

In [61]:
df.ndim

2

In [62]:
df.size

28

In [63]:
df.shape

(7, 4)

In [64]:
df_.memory_usage()

Index       56
name        56
city        56
age         28
py-score    28
dtype: int64

## Accessing and Modifying Data

In [65]:
df['name']

10    Xavier
11       Ann
12      Jana
13        Yi
14     Robin
15      Amal
16      Nori
Name: name, dtype: object

In [66]:
df.name

10    Xavier
11       Ann
12      Jana
13        Yi
14     Robin
15      Amal
16      Nori
Name: name, dtype: object

In [67]:
df.age

10    41
11    28
12    33
13    34
14    38
15    31
16    37
Name: age, dtype: int64

In [68]:
# Error because 0 is not a valid index label
df.loc[0]

KeyError: 0

In [ ]:
df.index

In [ ]:
df.loc[11]

In [ ]:
# df.loc[row_labels, column_labels]
df.loc[:, ['age', 'py-score']]

In [ ]:
df.loc[[x for x in df.index if not x % 2], ['name', 'city']]

### Use the slicing techniques from numpy to access a sub-dataframe

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0, [0,2]]

In [ ]:
df.iloc[[0, 2], :]

In [ ]:
df.iloc[:,[0, 3]]

### Accessing single values from dataframes

In [ ]:
df.loc[12, 'city']

Get individual elements with .at and .iat accessors methods

In [ ]:
df.at[12, 'city']

In [ ]:
df.iat[2, 1]

### Modifying values

In [ ]:
df.loc[:13, 'py-score'] = [40, 50 , 60 , 70]
df.loc[14:, 'py-score'] = 0

In [ ]:
df

In [ ]:
df.iloc[:, -1] = np.linspace(20, 50, len(df))

In [ ]:
df

In [ ]:
old_row = df.iloc[-1]

In [ ]:
df.loc[16]

In [ ]:
old_row

In [ ]:
df.loc[16] = ['Jack', 'Chicago', 29, 70]

In [ ]:
df

In [ ]:
df.loc[16] = old_row

In [ ]:
df

In [ ]:
df.loc[11, 'city'] = 'Ottawa'

In [ ]:
df

### Inserting and deleting rows

In [ ]:
type(df)

In [ ]:
type(df.loc[16])

In [ ]:
df.loc[16].name

In [ ]:
john = pd.Series(data = ['John', 'Boston', 34, 79], index=df.columns, name = 17)

In [ ]:
john

In [ ]:
df = df.append(john)

In [ ]:
df

In [ ]:
df.drop(labels = [17], inplace=True)

In [ ]:
df

In [ ]:
# dir(df)

### Inserting and deleting columns

In [ ]:
df['js-score'] = [71.0, 95.0, 74, 81.0, 56.0, 83.0, 49.0]

In [ ]:
df

In [ ]:
df['total-score'] = 0.0

In [ ]:
df

In [ ]:
df.insert(loc=4,  column = 'django-score', value = [71.0, 95.0, 74, 81.0, 56.0, 83.0, 49.0])
df

In [ ]:
del df['total-score']
df

In [ ]:
df.drop(labels=['age'], axis=1, inplace=True)
df

## Creating columns with Arithmetic Operations and NumPy

### Basic arithmetic

In [ ]:
df['total'] = (0.3 * df['js-score'] + 0.4 * df['py-score'] + 0.3 * df['django-score'])
df

### Using a dataframe of weights with a matched index

Alternative method using a dataframe of weights with an index that is exactly the same as the column labels

In [ ]:
wgts = pd.Series(data=[0.4, 0.3, 0.3], index=['py-score', 'django-score', 'js-score'])
wgts

In [ ]:
df[wgts.index] * wgts

### Using the np.sum

In [ ]:
import numpy as np
# Fix a row and sum along the columns
np.sum(df[wgts.index] * wgts, axis=1)

## Sorting DataFrames

In [ ]:
df.sort_values('js-score')

In [ ]:
df.sort_values(by=['js-score', 'py-score'], ascending=[False, False], inplace=True)
df

- by: string or list of strings
- axis: 0 or 'index', 1 or 'columns'
- ascending: bool or list of bool
- inplace:bool

In [ ]:
df.sort_index(inplace=True)
df

## Filtering Data

In [ ]:
df

The & | operators can only operate on boolean

In [ ]:
filter = (df['py-score'] >= 40) | (df['js-score'] >= 80)

### Use a boolean series as a selector in the DataFrame

In [ ]:
df[filter]

### Filtering with .where() and .filter()

Replace values were condition is False

In [ ]:
df['js-score'].where(cond=df['js-score'] >= 80, other=0.0)

In [ ]:
df.filter(items=['py-score', 'js-score', 'django-score'])

In [ ]:
df.filter(like='score', axis=1)

In [ ]:
df.filter(regex='score')

- Comparison operators: >, >=, <, <=, ==, !=
- Logical operators: NOT (~), AND (&), OR (|), XOR(^)
- .where method - any False value is replaced with a new default
- .filter method - filter columns using regex patterns

## Using Statistical Methods of DataFrames

In [ ]:
df.describe()

In [ ]:
df['py-score'].mean()

In [ ]:
df['py-score'].std()

In [ ]:
df.mean()

## Handling Missing Data

In [ ]:
df_ = pd.DataFrame({'x':[1, 2, np.nan, 4]})

In [ ]:
df_

In [ ]:
df_ = pd.DataFrame({'x':[1, 2, float('nan'), 4]})

In [ ]:
df_

In [ ]:
import math
df_ = pd.DataFrame({'x':[1, 2, math.nan, 4]})
df_

Statistical computation ignores NaN values by default

In [ ]:
df_.mean()

In [ ]:
df_.mean(skipna=False)

In [ ]:
1 + 2 + np.nan

In [ ]:
df_.fillna(value=0, inplace=False)

In [ ]:
df_

### Forward and back fill

In [ ]:
df_.fillna(method='ffill')

In [ ]:
df_.fillna(method='bfill')

### Interpolate to fill missing values

In [ ]:
df_.interpolate()

### Drop rows with any NaNs

In [ ]:
df_.dropna(inplace=True)

In [ ]:
df_

## Iterating over rows and columns in DataFrames

In [ ]:
df

In [ ]:
col_label, col = next(df.items())

In [ ]:
col_label

In [ ]:
col

### .items method
- .items method creates a generator
- the generator yields a tuple
- the first element of the tuple is the column label
- the second element of the tuple is pandas series that is the column

In [ ]:
for col_label, col in df.items():
    print(col_label, col, sep='\n', end='\n\n')

### .iteritems method to iterate over the columns

In [ ]:
for col_label, col in df.iteritems():
    print(col_label, col, sep='\n', end='\n\n')

### .iterrows method to iterate over the rows

In [ ]:
for row_label, row in df.iterrows():
    print(row_label, row, sep='\n', end='\n\n')

### .itertuples method to iterate over the rows

In [ ]:
for row in df.itertuples(index=False, name='JobCandidate'):
    print(f"Name: {row.name}, City: {row.city}, Total: {row.total}")

Named tuples

In [ ]:
for row in df.itertuples(index=False, name='JobCandidate'):
    # print(f"Name: {row.name}, City: {row.city}, Total: {row.total}")
    print(row)

## Working with Time Series

In [ ]:
temp_c = [8.0,  7.1,  6.8,  6.4,  6.0,  5.4,  4.8,  5.0,
           9.1, 12.8, 15.3, 19.1, 21.2, 22.1, 22.4, 23.1,
          21.0, 17.9, 15.5, 14.4, 11.9, 11.0, 10.2,  9.1]

In [ ]:
dt = pd.date_range(start='2019-10-27 00:00:00', periods=24, freq='H')

In [ ]:
type(dt)

In [ ]:
dt

In [ ]:
temp = pd.DataFrame(data={'temp_c':temp_c}, index=dt)

In [ ]:
temp

### Slicing a datetime index

In [ ]:
temp['2019-10-27 05':'2019-10-27 15']

### Convert the time index to a different interval with.resample

.resample is grouping by time intervals and applying a summarisation function

In [ ]:
temp.resample(rule='6h').mean()

In [ ]:
temp.resample(rule='6h').min()

### Rolling window analysis

Smooth out data using moving averages

In [ ]:
temp.rolling(window=3).mean()

The value is assigned to the right hand side of the window by default

In [ ]:
temp.head(3)['temp_c'].mean()

In [ ]:
temp.rolling(window=3, center=True).mean()

## Visualising Data in a pandas DataFrame

In [ ]:
temp.plot()

In [ ]:
temp.plot(kind='line', color='g', style='.-', mfc='k', ms=10)

### Save figure as png

In [ ]:
temp.plot.line(color='g', style='.-', mfc='k', ms=10).get_figure().savefig('temperatures.png')

In [ ]:
df

In [ ]:
df[['py-score', 'js-score']].plot.hist(bins=4, alpha=0.8)