# Introducing the pandas DataFrame

In [1]:
import pandas as pd

In [2]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
             'Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

index = range(101, 108)

In [9]:
df = pd.DataFrame(data,index=index)

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.index

RangeIndex(start=101, stop=108, step=1)

In [12]:
df.columns

Index(['name', 'city', 'age', 'py-score'], dtype='object')

In [13]:
type(df.columns)

pandas.core.indexes.base.Index

In [14]:
df.head()

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0

In [15]:
df.tail()

      name        city  age  py-score
103   Jana      Prague   33      81.0
104     Yi    Shanghai   34      80.0
105  Robin  Manchester   38      68.0
106   Amal       Cairo   31      61.0
107   Nori       Osaka   37      84.0

In [16]:
df.head(3)

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0

In [ ]:
df

In [ ]:
df['city']

In [ ]:
type(df['city'])

In [ ]:
cities = df['city']

In [ ]:
cities

In [ ]:
cities.index

In [ ]:
df.age

In [ ]:
df['py-score']

In [ ]:
df.index

In [ ]:
df.loc[103]

In [ ]:
type(df.loc[103])

In [ ]:
cities

In [ ]:
cities[103]

## Creating a pandas DataFrame

In [ ]:
import numpy as np

In [ ]:
d = {'x': [1,2,3], 'y': np.array([2,4,8]), 'z': 100}

In [ ]:
pd.DataFrame(d, index=[100, 200, 300], columns=['z', 'y', 'x'])

In [ ]:
lst = [{'x': 1, 'y': 2, 'z': 100},
     {'x': 2, 'y': 4, 'z': 100},
     {'x': 3, 'y': 8, 'z': 100}]

pd.DataFrame(lst, index=['a','b','c'])

In [ ]:
lst2 = [[1, 2, 100],
     [2, 4, 100],
     [3, 8, 100]]

pd.DataFrame(lst2, columns=['x', 'y', 'z'])

In [ ]:
arr = np.array([[1, 2, 100],
     [2, 4, 100],
     [3, 8, 100]])

df_ = pd.DataFrame(arr, columns=['x','y','z'], copy=True)

In [ ]:
df_

In [ ]:
arr[1,1] = 33

In [ ]:
df_

In [ ]:
df

In [ ]:
df.to_csv("job_candidates.csv")

In [ ]:
pd.read_csv("job_candidates.csv", index_col=0)

In [ ]:
df.index

In [ ]:
df.index[0]

In [ ]:
df.index[1]

In [ ]:
df.columns

In [ ]:
df.columns[2]

In [ ]:
df.index[0] = 100

In [ ]:
df.index

In [ ]:
df.index = np.arange(10, 17)

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
df.to_numpy()

In [ ]:
df.dtypes

In [ ]:
df_ = df.astype(dtype={'age': np.int32, 'py-score': np.float32})

In [ ]:
df_.dtypes

In [ ]:
df.ndim

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df_.memory_usage()

## Accessing and Modifying Data

In [ ]:
df['name']

In [ ]:
df.name

In [ ]:
df.age

In [ ]:
df.loc[0]

In [ ]:
df.index

In [ ]:
df.loc[11]

In [ ]:
df.loc[:, ['age','py-score']]

In [ ]:
df.loc[[x for x in df.index if not x % 2], ['name','city']]

In [ ]:
df.iloc[:,[0,2]]

In [ ]:
df.iloc[[0, 2], :]

In [ ]:
df.loc[12, 'city']

In [ ]:
df.at[12, 'city']

In [ ]:
df.iat[2, 1]

In [ ]:
df

In [ ]:
df.loc[:13, 'py-score'] = [40, 50, 60, 70]
df.loc[14:, 'py-score'] = 0

In [ ]:
df

In [ ]:
df.iloc[:, -1] = np.linspace(20, 50, len(df))

In [ ]:
df

In [ ]:
old_row = df.loc[16]

In [ ]:
df.loc[16] = ['Jack', 'Chicago', 29, 70]
df

In [ ]:
df.loc[16] = old_row

In [ ]:
df

In [ ]:
df.loc[11, 'city'] = 'Ottawa'

In [ ]:
df

## Inserting and Deleting Data

In [ ]:
df

In [ ]:
john = pd.Series(data=['John', 'Boston', 34, 79], index=df.columns, name=17)

In [ ]:
df = df.append(john)

In [ ]:
df

In [ ]:
df.drop(labels=[17], inplace=True)

In [ ]:
df

In [ ]:
df['js-score'] = [71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80.0]
df

In [ ]:
df['total-score'] = 0.0
df

In [ ]:
df.insert(loc=4, column='django-score', value=[71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80.0])
df

In [ ]:
del df['total-score']
df

In [ ]:
df['total-score'] = 0.0
df

In [ ]:
total_score = df.pop('total-score')
total_score

In [ ]:
df

In [ ]:
df = df.drop(labels=['age'], axis=1)
df

## Applying Arithmetic Operations

In [ ]:
df

In [ ]:
df['total'] = 0.3 * df['js-score'] + 0.4 * df['py-score'] + 0.3 * df['django-score']

In [ ]:
df

In [ ]:
wgts = pd.Series(data=[0.4,0.3,0.3],index=['py-score','django-score','js-score'])
wgts

In [ ]:
import numpy as np

In [ ]:
df['total'] = np.sum(df[wgts.index] * wgts, axis=1)

In [ ]:
df

## Sorting a pandas DataFrame

In [ ]:
df

In [ ]:
df.sort_values(by=['js-score','py-score'], ascending=[False, False], inplace=True)

In [ ]:
df

## Filtering Data

In [ ]:
df

In [ ]:
filter_ = (df['py-score'] >= 40.0) | (df['js-score'] >= 90)

In [ ]:
df[filter_]

In [ ]:
df['js-score'].where(cond=df['js-score'] >= 80, other=0.0)

In [ ]:
df.filter(regex="score")

## Determining Data Statistics

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df['py-score'].mean()

In [ ]:
df['py-score'].std()

In [ ]:
df.mean()

## Handling Missing Data

In [ ]:
df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})
df_

In [ ]:
df_.mean()

In [ ]:
7/3

In [ ]:
df_.mean(skipna=False)

In [ ]:
1 + 2 + np.nan

In [ ]:
df_.fillna(value=0)

In [ ]:
df_.fillna(method='bfill')

In [ ]:
df_

In [ ]:
df_.interpolate()

In [ ]:
df_.dropna(axis=0, inplace=True)

In [ ]:
df_

## Iterating Over a Pandas DataFrame

In [ ]:
df

In [ ]:
for col_label, col in df.iteritems():
    print(col_label, col, sep='\n', end='\n\n')

In [ ]:
for row in df.itertuples(index=False, name="JobCandidate"):
    #print(f"Name: {row.name}, City: {row.city}, Total: {row.total}")
    print(row)

## Working With Time Series

In [ ]:
temp_c = [8.0,  7.1,  6.8,  6.4,  6.0,  5.4,  4.8,  5.0,
           9.1, 12.8, 15.3, 19.1, 21.2, 22.1, 22.4, 23.1,
          21.0, 17.9, 15.5, 14.4, 11.9, 11.0, 10.2,  9.1]

In [ ]:
dt = pd.date_range(start='2019-10-27 00:00:00', periods=24, freq='H')

In [ ]:
type(dt)

In [ ]:
temp = pd.DataFrame(data={'temp_c': temp_c}, index=dt)

In [ ]:
temp

In [ ]:
type(temp.index)

In [ ]:
temp['2019-10-27 05':'2019-10-27 15']

In [ ]:
temp.resample(rule='6h').min()

In [ ]:
temp

In [ ]:
temp.rolling(window=3, center=True).mean()

## Plotting With pandas DataFrames

In [1]:
temp.plot.line(color='g', style='.-', mfc='k', ms=10).get_figure().savefig('temperatures.png')

NameError: name 'temp' is not defined

In [ ]:
df

In [ ]:
df['py-score'].plot.hist(bins=3, alpha=0.8)

In [ ]:
df[['js-score','total']].plot.hist(bins=3, alpha=0.5)